<h1><%= title 'Form styles' %></h1>

<p class="lede">Example form with default styles of all form elements</p>
<hr>

<h2>Personal details</h2>
<div class="l-form-row">
  <label for="name">Name:</label>
  <input id="name" type="text"/>
</div>
<input type="submit" value="Submit"/>
