<h1>Style guide</h1>


<h2>Building blocks</h2>
<ul>
  <li><a href="/styleguide/base">Base styles</a></li>
  <li><a href="/styleguide/form">Form</a></li>
</ul>


<h2>Pages</h2>
<ul>
  <li><a href="/styleguide/pages/input">input</a></li>
  <li><a href="/styleguide/pages/output">document</a></li>
</ul>
