<h1><%= title 'Style guide' %></h1>

<h2>Building blocks</h2>

<ul>
  <li><a href="/styleguide/base">Base styles</a></li>
  <li><a href="/styleguide/form">Form</a></li>
</ul>

<h2>Pages</h2>

<h3>Simple</h3>

<ul>
  <li><a href="/styleguide/pages/input">input</a></li>
  <li><a href="/styleguide/pages/output.pdf">document</a></li>
</ul>

<h3>Full</h3>

<ul>
  <li><a href="/styleguide/pages/input-v2">input v2</a></li>
  <li><a href="/styleguide/pages/output-v2">document v2</a></li>
</ul>
