<h1><%= title 'Style guide' %></h1>

<ul>
  <li><a href="/styleguide/pages/input">input</a></li>
  <li><a href="/styleguide/pages/output-elements">output - elements</a></li>
  <li><a href="/styleguide/pages/output-custom.pdf">output - custom</a></li>
  <li><a href="/styleguide/pages/output-generic.pdf">output - generic</a></li>
  <li><a href="/styleguide/pages/output-ineligible.pdf">output - ineligible</a></li>
</ul>
