label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}

p label {
  font-weight: normal;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 20em;
  padding: .5em;
}

input[type="date"] {
  width: 10em;
  padding: .5em;
}

textarea {
  padding: .5em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  font-weight: bold;
  padding-bottom: 0.5em;
}
