.form-inline .field_with_errors {
  display: inline;
}

.js .consent p,
.js .display_if_consent,
.js .display_if_eligible,
.js .display_if_range,
.js .hide-with-js {
  display: none;
}

.js .display_if_range label {
  display: inline;
}

.l-logo-pw-arrows {
  display: none;
}

.page-covering-letter {
  border-bottom: 1px solid $color-grey;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
