.page-footer {
  display: none; // hide this everywhere as looks confusing in preview
}

.l-logo-pw-arrows {
  display: none;
}

.l-pw-logo-letter {
  position: absolute;
}

.page-covering-letter {
  border-bottom: 1px solid $color-grey;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.l-summary-document {
  position: relative;
  overflow: hidden;
}
