<h2>Done!</h2>

<p>Record of Guidance has been saved, and will be dispatched to the customer shortly.</p>

<p style='padding-top: 1em'><%= link_to 'Generate another', root_path, class: %w(btn-success btn-lg) %></p>
