<h2>Done!</h2>

<p>Appointment details have been saved. A Pension Wise Summary Document will be printed and dispatched to the
  customer shortly.</p>

<p style='padding-top: 1em'><%= link_to 'Generate another', root_path, class: %w(btn-success btn-lg) %></p>
