<div class="page-header">
  <h1><%= title 'Appointment summary created' %></h1>
</div>

<p>An appointment summary has been created. Digital versions will be sent automatically.</p>

<p>If the customer requested a postal version, download and print the summary to send to them.</p>

