<div class="page-header">
  <h1><%= title 'Appointment Summary Saved' %></h1>
</div>

<p>Appointment details have been saved. A Pension Wise Summary Document will be printed and dispatched to the
  customer shortly.</p>
