<div class="confirm">
  <p class="highlight highlight-orange">Check the details below and click Submit if they're correct</p>
</div>

<%= @output_document.html.html_safe %>

<%= form_for @appointment_summary, url: appointment_summaries_path do |f| %>

  <% (AppointmentSummary.columns.map(&:name) - %w(id created_at updated_at user_id)).each do |field| %>
    <%= f.hidden_field field %>
  <% end %>

  <div class="fixed-bar">
    <%= f.submit 'Submit', class: %w(btn btn-success t-confirm btn-lg) %>
  </div>
<% end %>
