<div class="page-header">
  <h1>Summarise via the Telephone Appointment Planner</h1>
</div>

<p class="help-block">Appointments must be summarised via the Telephone
Appointment Planner, once the appointment's status is updated.</p>
