<div class="page-header">
  <h1>Create appointment summary in planner</h1>
</div>

<p class="help-block">After the appointment status is updated use the Telephone
Appointment Planner to create the summary.</p>
