<div class="page-header">
  <h1>You do not have the required permission</h1>
</div>

<p class="help-block t-no-permission">You need the telephone guider permission to summarise appointments via TAP.</p>
