.button-link {
  background: transparent;
  border: 0;
  color: #337ab7;
  cursor: pointer;
  display: inline;
  padding: 0;
  text-decoration: underline;
  user-select: text;

  &:hover {
    color: #23527c;
  }
}
