.container {
  max-width: 960px;
}

.form-inline .field_with_errors {
  display: inline;
}

.js .consent p,
.js .display_if_consent,
.js .display_if_eligible,
.js .display_if_range,
.js .hide-with-js {
  display: none;
}

.fixed-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: $color-white;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(152, 152, 152);
  background-color: rgba(152, 152, 152, .7);
  text-align: center;
}
