@import "govuk_admin_template";

legend {
  border: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

.session-details-panel__username {
  padding-right: 1em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}
