<form>
<h1>Output document builder</h1>

<h2>Personal Details</h2>
  <div class="l-form-row">
    <label for="name">Client's name:</label>
    <input id="name" type="text"/>
  </div>
  <input type="submit" value="Submit"/>
</form>
