<form>
  <h1><%= title 'Record of Guidance builder' %></h1>

  <h2>Personal Details</h2>

  <div class="l-form-row">
    <label for="name-c">Client name:</label>
    <input id="name-c" type="text"/>
  </div>

  <div class="l-form-row">
    <label for="email">Client email:</label>
    <input id="email" type="email"/>
  </div>

  <div class="l-form-row">
    <label for="address">Client postal address:</label>
    <textarea name="" id="address" cols="40" rows="6"></textarea>
  </div>

  <div class="l-form-row">
    <label for="name-g">Appointment date:</label>
    <input id="name-g" type="date"/>
  </div>

  <div class="l-form-row">
    <label for="name-g">Guider name:</label>
    <input id="name-g" type="text"/>
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Your organisation:</span>
      </legend>
      <p>
        <label for="cab">
          <input id="cab" type="radio" name="organisation">
          Citizen's Advice
        </label>
      </p>

      <p>
        <label for="tpas">
          <input id="tpas" type="radio" name="organisation">
          The Pensions Advisory Service
        </label>
      </p>
    </fieldset>
  </div>

  <hr>

  <h2>What you told us about your pension pot</h2>

  <div class="l-form-row">
    <label for="name-c">Pension pot amount:</label>
    <input id="name-c" type="text"/>
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Post retirement income options:</span>
      </legend>
      <p>
        <label for="income-only">
          <input id="income-only" type="radio" name="income">
          Defined contribution pot is their only source of income
        </label>
      </p>

      <p>
        <label for="income-other">
          <input id="income-other" type="radio" name="income">
          Other income available in retirement
        </label>
      </p>
    </fieldset>
  </div>

  <hr/>

  <h2>Your retirement and pension options</h2>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Personal Circumstances:</span>
      </legend>
      <p>
        <label for="plan-1">
          <input id="plan-1" type="checkbox" name="plan">
          Continue working for a while
        </label>
      </p>

      <p>
        <label for="plan-2">
          <input id="plan-2" type="checkbox" name="plan">
          Unsure about your plans in retirement
        </label>
      </p>

      <p>
        <label for="plan-3">
          <input id="plan-3" type="checkbox" name="plan">
          Wants to leave money to someone after you die
        </label>
      </p>

      <p>
        <label for="plan-4">
          <input id="plan-4" type="checkbox" name="plan">
          Flexibility when taking money
        </label>
      </p>
      <p>
        <label for="plan-5">
          <input id="plan-5" type="checkbox" name="plan">
          Guaranteed income
        </label>
      </p>
      <p>
        <label for="plan-5">
          <input id="plan-5" type="checkbox" name="plan">
          Requires a certain amount of money now
        </label>
      </p>

      <p>
        <label for="plan-5">
          <input id="plan-5" type="checkbox" name="plan">
          In poor health
        </label>
      </p>
    </fieldset>
  </div>

  <input type="submit" value="Submit">
</form>
