<form>
  <h1><%= title 'Record of guidance builder' %></h1>

  <p class="intro">Use this form to enter the visitor or caller's personal details provided during
    the guidance appointment and to create a personalised output document.</p>

  <h2>Visitor or caller details</h2>

  <div class="l-form-row">
    <label for="name">Name:</label>
    <input id="name" type="text"/>
  </div>

  <div class="l-form-row">
    <label for="email">Email:</label>
    <input id="email" type="email"/>
  </div>

  <div class="l-form-row">
    <label for="address">Postal address:</label>
    <textarea name="" id="address" cols="40" rows="6"></textarea>
  </div>

  <div class="l-form-row">
    <label for="date">Appointment date:</label>
    <input id="date" type="date">
  </div>

  <hr>

  <h2>Guider details</h2>

  <div class="l-form-row">
    <label for="name-g"><span class="visually-hidden">Guider </span>Name:</label>
    <input id="name-g" type="text">
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Organisation:</span>
      </legend>
      <p>
        <label for="cab">
          <input id="cab" type="radio" name="organisation">
          Citizens Advice
        </label>
      </p>

      <p>
        <label for="tpas">
          <input id="tpas" type="radio" name="organisation">
          The Pensions Advisory Service
        </label>
      </p>
    </fieldset>
  </div>

  <hr>

  <h2>Pension pot details</h2>

  <div class="l-form-row">
    <label for="amount">Pension pot amount:</label>
    <input id="amount" type="text">
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Income in retirement:</span>
      </legend>
      <p>
        <label for="income-only">
          <input id="income-only" type="radio" name="income">
          Defined contribution pot is their only source of income
        </label>
      </p>

      <p>
        <label for="income-other">
          <input id="income-other" type="radio" name="income">
          Other income is available in retirement
        </label>
      </p>
    </fieldset>
  </div>

  <hr>

  <h2>Retirement plans and pension options</h2>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Circumstances and preferences:</span>
      </legend>
      <p>
        <label for="plan-1">
          <input id="plan-1" type="checkbox" name="plan">
          Plans to continue working for a while
        </label>
      </p>

      <p>
        <label for="plan-2">
          <input id="plan-2" type="checkbox" name="plan">
          Unsure about plans in retirement
        </label>
      </p>

      <p>
        <label for="plan-3">
          <input id="plan-3" type="checkbox" name="plan">
          Plans to leave money to someone
        </label>
      </p>

      <p>
        <label for="plan-4">
          <input id="plan-4" type="checkbox" name="plan">
          Wants flexibility when taking money
        </label>
      </p>

      <p>
        <label for="plan-5">
          <input id="plan-5" type="checkbox" name="plan">
          Wants a guaranteed income
        </label>
      </p>

      <p>
        <label for="plan-6">
          <input id="plan-6" type="checkbox" name="plan">
          Needs a certain amount of money now
        </label>
      </p>

      <p>
        <label for="plan-7">
          <input id="plan-7" type="checkbox" name="plan">
          Has poor health
        </label>
      </p>
    </fieldset>
  </div>

  <input type="submit" value="Submit">
</form>
