<h1><%= title 'Record of your Pension Wise appointment' %></h1>

<p>Your name: INSERT_NAME</p>

<p><b>Pension Wise is an impartial government service. We don’t recommend any products or tell you what to do with your money.</b></p>

<p>Most people are entitled to the State Pension. Find out how much State Pension you’ll get at
  <a href="https://www.gov.uk/state-pension-statement">gov.uk/state-pension-statement</a></p>

<p>Take inflation into account when working out how much money you’ll have in retirement - on average the value of your pot will go down by X%</p>

<h2>The 5 options discussed in the appointment</h2>

<p>This is a brief reminder of the 5 options we discussed. You can find detailed information at
  <a href="https://www.pensionwise.gov.uk/pension-pot-options">pensionwise.gov.uk/pension-pot-options</a></p>

<h3>1. Leaving your pot untouched</h3>
<p>You don’t have to take money from your pension pot until you want to. You can leave your money invested and take it when you’re ready.</p>

<h3>2. Get a guaranteed income (annuity)</h3>
<p>This is an insurance policy you buy to give you a guaranteed income for the rest of your life or for a fixed number of years. There are different types of annuities and you have to make sure you buy the right one for you.</p>

<h3>3. Get a flexible income (flexi-access drawdown or taking smaller sums)</h3>
<p>There are currently 2 ways you can get a flexible income from your pension pot. The main differences are how you can take the tax-free par and what sort of income you wantt:</p>

<ul>
  <li>flexi-access drawdown: you can take up to 25% tax free of your whole pot in one go and use a pension provider or financial adviser to manage your money to give you a more regular income from your investments - your income from this is taxable</li>
  <li>take smaller cash sums (Uncrystallised Funds Pension Lump Sum or UFPLS) - your pot stays where it is and you can take money out when you want to. 25% of each amount you take out is tax free, the rest is taxable</li>
</ul>

<h3>4. Take your whole pot in one go</h3>
<p>If you take your whole pension pot in one go - 25% is tax-free and the remaining 75% would be taxable.</p>

<h3>5. Mix your options</h3>
<p>You can mix your options but not all providers offer all the options we talked about in the appointment.</p>

<p><b>Whichever option you decide on ask your provider about fees and charges. Also make sure how much tax you pay - go to
  <a href="https://www.pensionwise.gov.uk/tax">pensionwise.gov.uk/tax</a> for more.</b></p>
