<div class="page-break"></div>
<div class="page">
  <h2>Other things you need to know</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <h3>Benefits and pension income</h3>

      <p>If you’re on benefits or planning to apply for means-tested benefits in
        the
        future, any income from your pension will be taken into account. This
        could
        mean that you might not be eligible for a benefit or get less
        money. </p>

      <p>Go to
        <a href="https://www.pensionwise.gov.uk/benefits">pensionwise.gov.uk/benefits</a>
        for more information or contact your local Citizens Advice bureau.</p>

      <h3>Debt and pension income</h3>

      <p>If you’re planning to pay off large debt with money from your pension
        pot
        you should get debt advice first. If you’re worried about debt or
        budgeting
        issues the Money Advice Service and Citizens Advice can both help
        you. </p>

      <h3>Watch out for pension scams</h3>

      <p>A pension scam is when criminals try to cheat you out of the money in
        your
        pension pot. Often scammers contact you by cold calling. You should
        never
        let yourself be pressured into making a decision during a cold
        call. </p>

      <p>Read more how to protect yourself against scams on
        <a href="https://www.pensionwise.gov.uk/scams">pensionwise.gov.uk/scams</a>
      </p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Useful contacts</h3>

        <h4>Money Advice Service</h4>

        <p>
          <a href="https://moneyadviceservice.org.uk/en">moneyadviceservice.org.uk</a><br/>
          0300 500 5000</p>

        <h4>Citizens Advice</h4>

        <p>England:<br/>
          <a href="http://www.citizensadvice.org.uk/">citizensadvice.org.uk</a><br/>
          03444 111 444</p>

        <p>Wales:<br/>
          <a href="http://www.citizensadvice.org.uk/">citizensadvice.org.uk</a><br/>
          03444 77 2020</p>

        <p>Scotland:<br/>
          Go to <a href="http://www.cas.org.uk/">cas.org.uk/</a> to find your
          local bureau.</p>

        <p>Northern Ireland:<br/>
          Go to
          <a href="http://www.citizensadvice.org.uk/">citizensadvice.org.uk</a>
          to find your local bureau.</p>


        <h4>The Pensions Advisory Service</h4>

        <p>
          <a href="http://www.pensionsadvisoryservice.org.uk/">pensionsadvisoryservice.org.uk</a><br/>
          0300 123 1047</p>
      </div>
    </div>
  </div>
</div>
