<div class="page-break"></div>
<p class="header">Record of your Pension Wise appointment –
  pensionwise.gov.uk</p>

<h2 class="t-wants-flexibility">You want flexibility when taking money from your pot</h2>

<div class="l-grid-row">
  <div class="l-column-1">
    <p>If you want to do this you usually have to be actively involved in
      managing your money.</p>

    <p>You can:</p>

    <ul>
      <li>Take flexible lump sums from your current pot. You can do this with
        any pot size. This is also known as 'uncrystallised funds pension lump
        sum' or 'UFPLS'.
      </li>

      <li>Get a flexible income. You use a pension provider or financial
        adviser to invest your money in a way that gives you a regular income
        and suits your circumstances. This is also known as 'flexi-access
        drawdown'.
      </li>

      <li>Like with all investments the value of your pot can go up or down.
      </li>

      <li>You can still pay into your pot but there are restrictions. Speak to
        your provider for more information.
      </li>
    </ul>
  </div>

  <div class="l-column-2">
    <div class="l-text-narrow emphasize">
      <h3>Next steps</h3>

      <p>Check if your current provider offers this option and what the
        charges
        are - if they don’t you can transfer your pot but there might be
        charges
        for this.</p>

      <p>Check with your current provider if your pension pot has any special
        arrangements attached to it that could mean you get a better deal, eg
        a
        guaranteed value at a certain time.</p>

      <p>Get some estimates from other providers on how much your pot could
        grow
        and what the charges are - usually you just have to fill in a short
        form
        on their website.</p>

      <p>Check with providers what products they offer to suit your
        circumstances.</p>

      <p>Make sure you know how much tax you pay on any money you’re planning
        to
        take out.</p>

    </div>
  </div>
</div>
