<div class="page-break"></div>
<p class="header">Record of your Pension Wise appointment –
  pensionwise.gov.uk</p>

<h2 class="t-leave-inheritance">You want to leave money to someone after you die</h2>

<div class="l-grid-row">
  <div class="l-column-1">
    <p>You can leave your remaining pot to someone if you:</p>

    <ul>
      <li>Leave your pension pot untouched</li>
      <li>Put your money into a flexi-access drawdown fund</li>
      <li>Leave your money in your current fund and take out flexible lump
        sums (‘uncrystallised funds pension lump sum’ or ‘UFPLS’)
      </li>
    </ul>

    <p>If you buy an annuity you would have to get a ‘joint annuity’ or a
      ‘guaranteed period annuity’. These types of annuities pay out to your
      spouse or partner after you die but not to anyone else. A joint annuity
      stops paying when your spouse or partner dies. A guaranteed period
      annuity stops paying when the payment period you set up ends. Some of
      these pay a lump sum instead.</p>

    <p>If you take your whole pot as cash it’s up to you what you do with the
      money and how you want to leave it to someone. </p>

  </div>

  <div class="l-column-2">
    <div class="l-text-narrow">
      <h3>Next steps</h3>

      <div class="emphasize">
        <p>Ask your pension provider if they have the details of the person
          you want to leave the money to (your ‘beneficiary’).</p>

        <p>If you’re taking a flexible income from your pot think about how
          much you want to leave to someone and manage your money
          accordingly.</p>

        <p>Think about the most tax-efficient way of leaving your money - you
          might want to speak to a financial adviser about this - go to
          pensionwise.gov.uk/shop-around for tips on how to find one.</p>

      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<p class="header">Record of your Pension Wise appointment –
  pensionwise.gov.uk</p>

<h2>Tax when leaving your pension pot to someone</h2>

<table class="table table-bordered">
  <tr class="table-header">
    <th></th>
    <th>You die before 75:</th>
    <th>You die at 75 or after:</th>
  </tr>
  <tr>
    <td>Leaving the pot untouched</td>
    <td>No tax as long as they take money within 2 years. After that they pay
      Income Tax.
    </td>
    <td>Before April 2016 45% tax on lump sums, Income Tax if they take an
      income from the investments.<br/>
      <br/>
      After April 2016 Income Tax on lump sums and income.<br/>
      <br/>
      Additional tax for amounts over £1.25 million.
    </td>
  </tr>
  <tr>
    <td>Annuity (joint, guaranteed or capital protected)</td>
    <td>Any income or lump sum payments are tax free.</td>
    <td>Joint or guaranteed annuity: your spouse or partner pays Income Tax.
      Lump sums from capital protected annuity: 45% tax before 6 April 2016,
      after that Income Tax.
    </td>
  </tr>
  <tr>
    <td>Flexi-access drawdown</td>
    <td>No tax as long as they take money within 2 years. After that they pay
      Income Tax.
    </td>
    <td>Before April 2016 45% tax on lump sums, Income Tax if they take an
      income from the investments.<br/>
      <br/>
      After April 2016 Income Tax on lump sums and income.<br/>
      <br/>
      Additional tax for amounts over £1.25 million.
    </td>
  </tr>
  <tr>
    <td>Taking smaller sums
      (‘uncrystallised fund pension lump sum’ or ‘UFPLS’)
    </td>
    <td>No tax as long as they take money within 2 years. After that they pay
      Income Tax.
    </td>
    <td>Before April 2016 45% tax on lump sums, Income Tax if they take an
      income from the investments.<br/>
      <br/>
      After April 2016 Income Tax on lump sums and income.<br/>
      <br/>
      Additional tax for amounts over £1.25 million.
    </td>
  </tr>
  <tr class="table-header-secondary">
    <th></th>
    <th>No matter when you die:</th>
    <th></th>
  </tr>
  <tr>
    <td>Taking your whole pot as cash</td>
    <td>The money is part of your estate (money, property and possessions).
      40% Inheritance Tax if your estate is worth more than £325,000.
    </td>
    <td></td>
  </tr>
</table>
