<div class="page-break"></div>
<p class="header">Record of your Pension Wise appointment –
  pensionwise.gov.uk</p>

<h2 class="t-wants-lump-sum">You want a certain sum of money now </h2>

<div class="l-grid-row">
  <div class="l-column-1">
    <p>If you use flexi-access drawdown or buy an annuity you have the choice
      of taking up to 25% of your pension pot tax free. This could provide you
      with the money you want now.</p>

    <p>However, under current pension rules you would have to do something
      with the remaining 75% within 6 months. This means you would have to put
      the money into a flexi-access drawdown fund, buy an annuity or take the
      rest of the pot as taxable cash within that time.</p>

    <p>You can also take flexible lump sums and get 25% of each cash amount
      tax free ('uncrystallised fund pension lump sum' or 'UFPLS').</p>

    <p>Alternatively, you could cash in your whole pot in one go. Unless your
      pot is very small or you have more than one pot and want to cash in only
      one of them, you should think about this carefully.</p>

    <p>You could pay a higher amount of tax and be left with less money than
      expected. You should also consider how much income you’ll need in future
      years of retirement before you do this.</p>
  </div>

  <div class="l-column-2">
    <div class="l-text-narrow">
      <h3>Next steps</h3>

      <p>If you want to take up to 25% tax free:</p>

      <div class="emphasize">
        <p>Ask your provider to start the paperwork. </p>

        <p>Make sure you know what you want to do with the remaining pot. </p>
      </div>

      <p>If you want to cash in the whole pot: </p>

      <div class="emphasize">
        <p>Check how much tax you might have to pay on the amount. </p>

        <p>Make sure you have a plan on how to finance your retirement. </p>
      </div>
    </div>
  </div>
</div>
