<!-- section: pension pot, version: pension -->
<div class="page-break"></div>
<div class="page page-introduction">
  <h2>What you told us about your pension pot</h2>

  <div class="l-text-max">

    <div class="total-value">
      <p class="total-value__label">Total value of your pension pot(s)</p>

      <p class="total-value__amount">
        <%= output_document.value_of_pension_pots %>
      </p>

      <p class="total-value__note">
        If you have more than one pot this is their combined value.
      </p>
    </div>

    <p>This is your personal or workplace pension based on how much has been paid<br />
      into your pot (defined contribution pension). </p>
  </div>

  <div class="l-grid-row l-grid-row--introduction">
    <div class="l-column-1">
      <p>
        You told us that your defined contribution pot is your only income in
        retirement.
      </p>

      <p>Most people are entitled to the State Pension. You can apply for a State
        Pension statement telling you how much you’ll get at
        <a href="https://www.gov.uk/state-pension-statement">
          gov.uk/state-pension-statement</a></p>

      <p>When working out how much money you’ll have in retirement you should
        take all your assets into account -
        <a href="https://pensionwise.gov.uk/work-out-income">pensionwise.gov.uk/work-out-income</a>
        explains how to do this.</p>

      <h3>What’s important to you in retirement</h3>

      <p>In the appointment we talked about some of the things that are
        important to you in retirement.</p>

      <p>We’ve included the main points here and how they might affect your
        pension options. However, we can’t list everything we talked about. When
        making your decision on how to take money from your pension pot you
        should consider all your circumstances. </p>

    </div>

    <div class="l-column-2">
      <div class="l-text-narrow emphasize">
        <h3>Things to think about</h3>
        <p>How much tax you’ll pay - the tax-free Personal Allowance for the
          2015/16 tax year is £10,600. </p>

        <p>How long your money needs to last - on average, people aged 55
          today will live to their mid-to-late 80s. </p>

        <p>Future costs in retirement - you may have extra health and care
          costs as you get older.</p>

        <p>The impact of inflation - as prices go up your pension might buy you
          less in the future. </p>

        <p>Benefits to supplement your income - use one of the benefit
          calculators on <a href="https://www.gov.uk/benefits-calculators">
          gov.uk/benefits-calculators</a> to find out what you
          might be eligible for and how to claim.</p>
      </div>
    </div>
  </div>
</div>
