<!-- section: poor health -->
<div class="page-break"></div>
<div class="page">

  <h2 class="t-poor-health">You’re interested in pension options that<br />
    take poor health or a history of smoking <br />
    into account</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--annuity"></div>
      </div>
      <p>If you’re interested in annuities, you can buy an ‘enhanced annuity’
        which may pay you a better rate. Poor health and certain lifestyle
        choices can get you more money. When shopping around for the best
        rate it helps to be upfront about your health. Providers will take this
        into account when calculating your rate.</p>

      <p>With any of the other options discussed in the appointment, it’s up to
        you how you manage your money and make it last for the time you need
        it.</p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="emphasize">
          <p>Compare annuity rates:
            <a href="https://www.moneyadviceservice.org.uk/annuities">moneyadviceservice.org.uk/annuities</a>
          </p>

          <p>Shop around for the best deal - you don’t have to stay with your
            current provider.</p>

          <p>Make sure you know how much tax you pay on your annuity income.</p>

          <p>Ask your current provider if your pot has any special arrangements
            attached to it that could mean you get a better deal, eg a
            guaranteed annuity rate.</p>
        </div>
      </div>
    </div>
  </div>
</div>
