<!-- section: wants security -->
<div class="page-break"></div>
<div class="page">
  <h2 class="t-wants-security">You want a guaranteed income</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--annuity"></div>
      </div>
      <p>Currently annuities are the only option that give you a guaranteed
        income. You can buy an annuity for a fixed number of years or for the
        rest of your life. </p>

      <p>There are different types of annuities and it’s important that you get
        the one that’s right for you. </p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>If you’re interested in annuities you should: </p>

          <div class="emphasize">
            <p>Compare annuity rates:
              <a href="https://www.moneyadviceservice.org.uk/annuities">moneyadviceservice.org.uk/annuities</a>
            </p>

            <p>Shop around for the best deal - you don’t have to stay with your
              current provider.</p>

            <p>Ask providers what types of annuity they offer and think about which
              one might be the best for you - start by searching for ‘annuity types’
              at
              <a href="https://www.moneyadviceservice.org.uk/">moneyadviceservice.org.uk</a>
            </p>

            <p>Make sure you know how much tax you pay on your annuity income.</p>

            <p>If your health is poor, check if you can get a higher annuity rate.</p>

            <p>Ask your current provider if your pot has any special arrangements
              attached to it that could mean you get a better deal, eg a guaranteed
              annuity rate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
