<!-- section: leave inheritance -->
<div class="page-break"></div>
<div class="page">
  <h2 class="t-leave-inheritance">You want to leave money to someone <br />
    after you die</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <p>You can leave your remaining pot to someone if you:</p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--untouched"></div>
      </div>
      <p>Leave your pension pot untouched</p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--flexi"></div>
      </div>
      <p>Put your money into a flexi-access drawdown fund</p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--flexi"></div>
      </div>
      <p>Leave your money in your current fund and take out flexible lump
        sums (‘uncrystallised funds pension lump sum’ or ‘UFPLS’)</p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--annuity"></div>
      </div>
      <p>If you buy an annuity you would have to get a ‘joint annuity’ or a
        ‘guaranteed period annuity’. These types of annuities pay out to your
        spouse or partner after you die but not to anyone else. A joint annuity
        stops paying when your spouse or partner dies. A guaranteed period
        annuity stops paying when the payment period you set up ends. Some of
        these pay a lump sum instead.</p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--whole"></div>
      </div>
      <p>If you take your whole pot as cash it’s up to you what you do with the
        money and how you want to leave it to someone. </p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="emphasize">
          <p>Ask your pension provider if they have the details of the person
            you want to leave the money to (your ‘beneficiary’).</p>

          <p>If you’re taking a flexible income from your pot think about how
            much you want to leave to someone and manage your money
            accordingly.</p>

          <p>Think about the most tax-efficient way of leaving your money - you
            might want to speak to a financial adviser about this - go to
            <a href="https://www.pensionwise.gov.uk/shop-around">pensionwise.gov.uk/shop-around</a>
            for tips on how to find one.</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<div class="page">
  <h2>Tax when leaving your pension pot to someone</h2>

  <table class="l-tax-table">
    <tr class="tr-main">
      <th>
        <div class="th-main-wrapper">
          Option
        </div>
      </th>
      <th colspan="2">
        <div class="th-main-wrapper">
          Tax paid by the person who inherits money
        </div>
      </th>
    </tr>
    <tr class="tr-sub">
      <th class="table-col1"></th>
      <th class="table-col2">You die before 75:</th>
      <th class="table-col3">You die at 75 or after:</th>
    </tr>
    <tr class="tr-option-1">
      <td>
        <div class="td-col1-wrapper">
          Leaving the pot untouched
        </div>
        <div class="icon-container">
          <div class="icon-dot icon-dot--untouched"></div>
        </div>
      </td>
      <td>
        <div class="td-col2-wrapper">
          No tax as long as they take money within 2 years. After that they pay
          Income Tax.
        </div>
      </td>
      <td>
        <p>Before April 2016 45% tax on lump sums, Income Tax if they take an
        income from the investments.</p>

        <p>After April 2016 Income Tax on lump sums and income.</p>

        <p>Additional tax for amounts over £1.25 million.</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="td-col1-wrapper">
          Annuity<br />
          <small>(joint, guaranteed or capital protected)</small>
        </div>
        <div class="icon-container">
          <div class="icon-dot icon-dot--annuity"></div>
        </div>
      </td>
      <td>
        <div class="td-col2-wrapper">
          Any income or lump sum payments are tax free.
        </div>
      </td>
      <td>
        <p>Joint or guaranteed annuity: your spouse or partner pays Income Tax.</p>

        <p>Lump sums from capital protected annuity: 45% tax before 6 April 2016,
          after that Income Tax.</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="td-col1-wrapper">
          Flexi-access drawdown
        </div>
        <div class="icon-container">
          <div class="icon-dot icon-dot--flexi"></div>
        </div>
      </td>
      <td>
        <div class="td-col2-wrapper">
          No tax as long as they take money within 2 years. After that they pay
          Income Tax.
        </div>
      </td>
      <td>Before April 2016 45% tax on lump sums, Income Tax if they take an
        income from the investments.<br/>
        <br/>
        After April 2016 Income Tax on lump sums and income.<br/>
        <br/>
        Additional tax for amounts over £1.25 million.
      </td>
    </tr>
    <tr>
      <td>
        <div class="td-col1-wrapper">
          Taking<br />
          smaller sums
          <small>(‘uncrystallised <br />
            fund pension lump sum’ or ‘UFPLS’)</small>
        </div>
        <div class="icon-container">
          <div class="icon-dot icon-dot--flexi"></div>
        </div>
      </td>
      <td>
        <div class="td-col2-wrapper">
          No tax as long as they take money within 2 years. After that they pay
          Income Tax.
        </div>
      </td>
      <td>Before April 2016 45% tax on lump sums, Income Tax if they take an
        income from the investments.<br/>
        <br/>
        After April 2016 Income Tax on lump sums and income.<br/>
        <br/>
        Additional tax for amounts over £1.25 million.
      </td>
    </tr>
    <tr class="tr-sub">
      <th></th>
      <th>
        <div class="th-sub-wrapper">
          No matter when you die:
        </div>
      </th>
      <th></th>
    </tr>
    <tr class="tr-option-1">
      <td>
        <div class="td-col1-wrapper">
          Taking your<br />
          whole pot as cash
        </div>
        <div class="icon-container">
          <div class="icon-dot icon-dot--whole"></div>
        </div>
      </td>
      <td>
        <div class="td-col2-wrapper td-col2-wrapper--wide">
          The money is part of your estate (money, property and possessions).
          40% Inheritance Tax if your estate is worth more than £325,000.
        </div>
      </td>
      <td></td>
    </tr>
  </table>
</div>
