<!-- section: detail about each option -->
<div class="page-break"></div>
<div class="page">
  <h2 class="t-generic">Leave your pot untouched</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--untouched"></div>
      </div>
      <p>You don’t have to take money from your pension pot straight away. You
        can leave your money invested and take it when you’re ready.</p>

      <p>While the money stays in your pot you don’t pay tax on it. It’s up to
        you when you take the money out but the earliest is usually aged 55.</p>

      <p>You can also still pay into your pension pot but there are restrictions
        on how much tax relief you get on these payments.</p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>Ask your provider the following questions:</p>

          <div class="emphasize">
            <p>What are your charges for leaving my money in longer?</p>

            <p>Do I have to take the money by a certain date and are there penalty
              charges if I don’t?</p>

            <p>How much is the pot likely to grow each year?</p>

            <p>How is the money invested and can I change this if I want?</p>

            <p>How much can I still pay in?</p>

            <p>Does my pot have any special arrangements attached to it that could
              mean I get a better deal, eg a guaranteed value at a certain
              time?</p>

            <p>Do you have up-to-date details of the person I want to leave my pot
              to (my ‘beneficiary’)?</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<div class="page">
  <h2>Get a guaranteed income (annuity)</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--annuity"></div>
      </div>
      <p>This is an insurance policy you buy to give you a guaranteed income for
        the rest of your life or for a fixed number of years.</p>

      <p>You can take up to 25% tax free before you buy an annuity.</p>

      <p>Annuities are currently the only option which gives you a guaranteed
        income.</p>

      <p>There are different types of annuities and you have to make sure you
        buy the right one for you.</p>

      <p>If your health is poor or you have a history of smoking you can buy an
        ‘enhanced annuity’ which may pay you a better rate. Poor health and
        certain lifestyle choices can get you more money. When shopping around
        for the best rate it helps being upfront about your health. Providers
        will take this into account when calculating your rate.</p>

      <p>With pension rules changing, providers are coming up with new retirement
        options. You might want to wait and see what’s available in a few years’
        time.</p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>If you’re interested in annuities you should:</p>

          <div class="emphasize">

            <p>Compare annuity rates:
              <a href="https://www.moneyadviceservice.org.uk/annuities">moneyadviceservice.org.uk/annuities</a>
            </p>

            <p>Shop around for the best deal - you don’t have to stay with your
              current provider.</p>

            <p>Ask providers what types of annuity they offer and think about
              which one might be the best for you - start by searching for
              ‘annuity types’ at
              <a href="https://www/moneyadviceservice.org.uk">moneyadviceservice.org.uk</a>
            </p>

            <p>Make sure you know how much tax you pay on your annuity income.</p>

            <p>If your health is poor, check if you can get a higher annuity
              rate.</p>

            <p>Ask your current provider if your pot has any special arrangements
              attached to it that could mean you get a better deal, eg a
              guaranteed annuity rate.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<div class="page page-flexible-income">
  <h2>Take your money flexibly (take flexible lump<br/>
    sums or get a flexible income)</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--flexi"></div>
      </div>
      <p>There are currently 2 ways you can get a flexible income from your
        pension pot. The main differences are how you can take the tax-free part
        and what sort of income you want.</p>

      <h4>Take flexible lump sums</h4>

      <p>Your pot stays where it is and you can take money out when you want to.
        25% of each amount you take out is tax free, the rest is taxable. This
        is also known as ‘uncrystallised fund pension lump sum’ or ‘UFPLS’.</p>

      <h4>Get a flexible income</h4>

      <p>You can take 25% of your pot as a single tax-free cash sum. The rest of
        your money is invested to give you a regular income (this is taxable).
        You use a pension provider or financial adviser to invest your money in
        a way that suits your circumstances. This is also known as ‘flexi-access
        drawdown’. You can also do flexi-access drawdown in stages.</p>

      <p>If you want to do either of these you usually have to be actively
        involved in managing your money.</p>

      <p>Like with all investments the value of your pot can go up or down.</p>

      <p class="no-bottom-margin">You can still pay into your pot but there
        are restrictions. Speak to your provider for more information.</p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow emphasize">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>Check if your current provider offers this option and what the
            charges are - if they don’t you can transfer your pot but there might
            be charges for this.</p>

          <p>Check with your current provider if your pension pot has any special
            arrangements attached to it that could mean you get a better deal, eg
            a guaranteed value at a certain time</p>

          <p>Get some estimates from other providers on how much your pot could
            grow and what the charges are - usually you just have to fill in a
            short form on their website.</p>

          <p>Check with providers what products they offer to suit your
            circumstances.</p>

          <p>Make sure you know how much tax you pay on any money you’re planning
            to take out.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<div class="page">
  <h2>Take your whole pot in one go</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--whole"></div>
      </div>
      <p>If you take your whole pension pot in one go, 25% is tax free and the
        remaining 75% would be taxable.</p>

      <p>Unless your pot is very small or you have more than one pot and want to
        cash in only one of them, you should think about this carefully.</p>

      <p>Once you’ve taken the money out you can’t change this decision and will
        lose any tax relief you got on these savings while they were in your
        pot.</p>

      <p>You could pay a higher amount of tax and be left with less money than
        expected. You should also consider how much income you’ll need in future
        years of retirement before you do this.</p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow emphasize">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>Check how much tax you might have to pay on the amount.</p>

          <p>Make sure you have a plan on how to finance your retirement.</p>

          <p>Ask your provider to start the paperwork.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-break"></div>
<div class="page">

  <h2>Mix your options</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--mix"></div>
      </div>
      <p>You can mix your options but not all providers offer all the options
        discussed in the appointment.</p>

      <p>Usually you need a large pension pot to do this. You might also want
        to talk to a financial adviser because mixing your options can be
        complicated. Tips on finding a financial adviser are on
        <a href="https://www.pensionwise.gov.uk/shop-around">pensionwise.gov.uk/shop-around</a>
      </p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>If you want to mix your options go to
            <a href="https://www.pensionwise.gov.uk/shop-around">pensionwise.gov.uk/shop-around</a>
            to find out about:</p>

          <div class="emphasize">
            <p>Shopping around and getting the best deal</p>

            <p>Getting financial advice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
