<!-- section: unsure -->
<div class="page-break"></div>
<div class="page">
  <h2 class="t-unsure">You’re unsure about your retirement plans</h2>

  <div class="l-grid-row l-grid-row--option">
    <div class="l-column-1">
      <div class="icon-container">
        <div class="icon-dot icon-dot--untouched"></div>
      </div>
      <p>You can leave your pension pot untouched until you make a decision. You
        don’t pay tax on the money while it stays in the pot. By the time you’re
        ready to take the money, new pension options may be available and you
        could have more choice. </p>

      <div class="icon-container">
        <div class="icon-dot icon-dot--mix"></div>
      </div>
      <p>You might want flexibility during your retirement. You could, for
        example, mix your options to suit your changing circumstances. Usually
        you need a large pension pot to do this. You might also want to talk to
        a financial adviser because mixing your options can be complicated. Tips
        on finding a financial adviser are on
        <a href="https://www.pensionwise.gov.uk/shop-around">pensionwise.gov.uk/shop-around</a>
      </p>
    </div>

    <div class="l-column-2">
      <div class="l-text-narrow">
        <h3>Next steps</h3>

        <div class="l-column-2__nudge-up">
          <p>If you want to leave your pot untouched for a while, ask your
            provider the following questions: </p>

          <div class="emphasize">
            <p>What are the charges for leaving my money in longer?</p>

            <p>Do I have to take the money by a certain date and are there penalty
              charges if I don’t?</p>

            <p>How much is the pot likely to grow each year?</p>

            <p>How is the money invested and can I change this if I want?</p>

            <p>How much can I still pay in?</p>

            <p>Does my pot have any special arrangements attached to it that could
              mean I get a better deal, eg a guaranteed value at a certain
              time?</p>

            <p>Do you have up-to-date details of the person I want to leave my pot
              to (my ‘beneficiary’)?</p>
          </div>

          <p>If you want to mix your options go to
            <a href="https://www.pensionwise.gov.uk/shop-around">pensionwise.gov.uk/shop-around</a>
            to find out about: </p>

          <div class="emphasize">
            <p>Shopping around and getting the best deal</p>

            <p>Getting financial advice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
